{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-content">

    <div class="container">
      <div class="row">
  
        <div class="col-lg-3">
          <div class="settings">
            {% include 'includes/c_sidebar.html' %}
          </div><!-- .settings -->
        </div><!-- .col -->
  
        <div class="col-lg-9">
          <form action="/" method="post">
            <div class="row">
  
              <div class="col-lg-7">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand form-input--large"
                    required
                    value="Felix"
                  >
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="email">E-mail *</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand form-input--large"
                    required
                    value="Felix@example.com"
                  >
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="tel"
                    name="phone"
                    id="phone"
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand form-input--large"
                  >
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="website">Website</label>
                  <input
                    type="url"
                    name="website"
                    id="website"
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand form-input--large"
                    required
                  >
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand form-input--large"
                  >
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="twitter">Twitter</label>
                  <div class="form-group__wrapper">
                    <input
                      type="text"
                      name="twitter"
                      id="twitter"
                      class="form-input form-input--square form-input--social form-input--border-c-alto bg-wild-sand form-input--large"
                    >
                    <span class="form-group__icon">
                      <i class="fa fa-twitter"></i>
                    </span>
                  </div><!-- .form-group__wrapper -->
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="facebook">Facebook</label>
                  <div class="form-group__wrapper">
                  <input
                    type="text"
                    name="facebook"
                    id="facebook"
                    class="form-input form-input--square form-input--social form-input--border-c-alto bg-wild-sand form-input--large"
                  >
                  <span class="form-group__icon">
                    <i class="fa fa-facebook-f"></i>
                  </span>
                  </div><!-- .form-group__wrapper -->
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="linkedin">Linked In</label>
                  <div class="form-group__wrapper">
                  <input
                    type="text"
                    name="linkedin"
                    id="linkedin"
                    class="form-input form-input--square form-input--social form-input--border-c-alto bg-wild-sand form-input--large"
                  >
                  <span class="form-group__icon">
                    <i class="fa fa-linkedin"></i>
                  </span>
                </div><!-- .form-group__wrapper -->
                </div><!-- .form-group -->
  
                <div class="form-group">
                  <label for="introduction">Your info</label>
                  <textarea
                    class="form-input form-input--square form-input--border-c-alto bg-wild-sand"
                    id="introduction"
                    rows="10"></textarea>
                </div>
              </div><!-- .col -->
  
              <div class="col-lg-5">
                <div class="form-group">
                  <span class="form-label">Avatar</span>
                  <div class="dropzone" id="listing-gallery"></div>
                </div>
              </div><!-- .col -->
  
              <div class="col-lg-12">
                <div class="form-group--submit">
                  <button
                    class="button button--square button--primary button--large button--submit"
                    type="submit"
                  >
                    Save Changes
                  </button>
                </div>
              </div>
  
            </div><!-- row -->
          </form>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  
  </div><!-- .page-content -->
{% endblock %}