{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prozim - Find a Professional and Book a Consultation by Appointment, Chat or Video call">
    <meta name="author" content="Ansonika">
    <title>Buildngz - Find a Professional and Book a Consultation by Appointment, Chat or Video call</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- BASE CSS -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'styles/home.css' %}" rel="stylesheet">
    <link href="{% static 'styles/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'styles/custom.css' %}" rel="stylesheet">

</head>

<body>
	<div id="login_bg">
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	
	<div id="login">
		<aside>
			<figure>
				<a href="{% url 'home' %}"><img src="{% static 'images/vendorwise-1.png' %}" height="40" alt="" class="logo_sticky"></a>
			</figure>
			<form action="{% url 'login' %}" method="post" class="js-validation-signin px-30">
				{% csrf_token %}
					<div class="access_social">
					<a href="#0" class="social_bt facebook">Login with Facebook</a>
					<a href="#0" class="social_bt google">Login with Google</a>
				</div>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" id="email" placeholder="Email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" id="password" value="" placeholder="Password">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_30">
					<div class="checkboxes float-start">
						<label class="container_check">Remember me
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-end"><a id="forgot" href="{% url 'forgot_password' %}">Forgot Password?</a></div>
				</div>
				<button type="submit" id="submit2" class="btn_1 add_bottom_15">Login to Buildngz</button>
				<div class="text-center add_top_10">New to Buildngz? <strong><a href="{% url 'registerUser' %}">Sign up!</a></strong></div>
			</form>
			<div class="copy">© Buildngz</div>
		</aside>
	</div>
	<!-- /login -->
	
	<!-- LOAD MESSAGES -->
	{% include 'includes/alerts.html' %}
	<!-- END Error Messages -->
		
	<!-- COMMON SCRIPTS -->
   	<script src="{% static 'scripts/common_scripts.min.js' %}"></script>
    <script src="{% static 'scripts/common_func.js' %}"></script>
    <script src="{% static 'scripts/validate.js' %}"></script>
</div> 

</body>
</html>