{% extends 'base.html' %}

{% block content%}
<div class="container">
	<div class="main-body">

		{% include 'includes/alerts.html' %}	<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
			<a href="{% url 'customerDashboard' %}">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Bookmarked Vendors</li>
		</ol>


	<div class="box_general">
		<div class="header_box">
			<h2 style="font-size: 28px">Bookmarked Vendors</h2>
			<!-- <div class="filter">
				<select name="orderby" class="selectbox">
					<option value="Any time">Any time</option>
					<option value="Latest">Latest</option>
					<option value="Oldest">Oldest</option>
				</select>
			</div> -->
		</div>
		<div class="list_general">
			<ul>
				<!-- Display Bookmarked Vendors -->
				{% for saved_vendor in saved_vendors %}
					<li>
						<h3>{{ saved_vendor.vendor.vendor_name }}</h3>
						<p><strong>Saved:</strong> {{ saved_vendor.created_at}}</p>

						<p>{{ saved_vendor.vendor.description }}</p>
						<p><a href="{% url 'vendor_detail' saved_vendor.vendor.vendor_slug %}" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View profile</a></p>
						<ul class="buttons">
							<li><a href="#0" class="btn_1 red delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Delete</a></li>
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /box_general-->
	<nav aria-label="...">
		<ul class="pagination pagination-sm add_bottom_30">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
    
{% endblock %}
 