{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <div class="main-body">
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2 class="fw-bold"><i class="fa fa-shopping-cart"></i>Your Purchase</h2><br>
            </div>
        
            <div class="row">
                <div class="col-lg-6 px-5 py-4">               
                    <div class="text-center mb-5" id="empty-cart" style="display: none;">
                        <h3>Your Cart is Empty.</h3>
                    </div>    

                    {% if cart_items %}
                        {% for item in cart_items %}
                            <div class="d-flex align-items-center mb-5" id="cart-item-{{item.id}}">
                                <div class="flex-grow-1 ms-3">
                                    <div class="row">
                                        <div class="d-flex align-items-center col-lg-8 ">
                                            <h5 class="text-primary">{{ item.product}}</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item align-items-center">
                                                    <a href="#" class="decrease_cart" data-id="{{ item.product.id }}" id="{{item.id}}" data-url="{% url 'decrease_cart' item.product.id %}" style="margin-right: 10px;"><i class="fa fa-circle-minus fa-xl"></i></a>
                                                    
                                                    <label id="qty-{{item.product.id}}" style="margin-right: 12px;">0</label>
                                                    
                                                    <a href="#" class="add_to_cart" data-id="{{ item.product.id }}" data-url="{% url 'add_to_cart' item.product.id %}" style="margin-right: 10px;"><i class="fa fa-circle-plus fa-xl"></i></a>
                                                    <a href="#" class="delete_cart" data-id="{{ item.id }}" data-url="{% url 'delete_cart' item.id %}" title="Delete this item"><i class="fa fa-trash fa-xl text-danger"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="fw-bold mb-0 me-5 pe-3">{{item.product.price}} {{item.product.price_description}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="d-flex align-items-center mb-5">
                            <div class="flex-grow-1 ms-3">
                                <h3 class="text-center">Your Cart is Empty.</h3>
                            </div>
                        </div>    
                    {% endif %}
                    <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                    <div class="d-flex justify-content-between px-x">
                        <p class="fw-bold">Discount:</p>
                        <p class="fw-bold currency" id="discount">$0</p>
                    </div>
                    <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #eeeeee;">
                        <h5 class="fw-bold mb-0">Total:</h5>
                        <h5 class="fw-bold mb-0 currency" id="total">$0</h5>
                    </div>               
                </div>
                <div class="col-lg-6 px-5">

                    <h5 class="mb-5 pt-2 text-center fw-bold">Payment</h5>    
                    <form class="mb-5">
    
                        <div class="form-outline mb-5">
                            <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                            value="1234 5678 9012 3457" minlength="19" maxlength="19" />
                            <label class="form-label" for="typeText">Card Number</label>
                        </div>
    
                        <div class="form-outline mb-5">
                            <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            value="John Smith" />
                            <label class="form-label" for="typeName">Name on card</label>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6 mb-5">
                                <div class="form-outline">
                                    <input type="text" id="typeExp" class="form-control form-control-lg" value="01/22"
                                    size="7" id="exp" minlength="7" maxlength="7" />
                                    <label class="form-label" for="typeExp">Expiration</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <div class="form-outline">
                                    <input type="password" id="typeText" class="form-control form-control-lg"
                                    value="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                    <label class="form-label" for="typeText">Cvv</label>
                                </div>
                            </div>
                        </div>
    
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit <a
                            href="#!">obcaecati sapiente</a>.</p>
    
                        <button type="button" class="btn btn-primary btn-block btn-lg">Buy now</button>
    
                        <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">
                            <a href="#!"><i class="fas fa-angle-left me-2"></i>Back to shopping</a>
                        </h5>
    
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
 