{% load static %}

<!-- #footer -->
<footer id="colophone" class="site-footer">

    <div class="t-center site-footer__primary">
      <div class="container">
        <p class="t-small" style="text-align: left">
        <strong>Browse Pros by Metro</strong><br>
        Albuquerque-Atlanta-Austin-Baltimore-Birmingham-Boise-Boston-Bridgeport-Burlington-Cedar Rapids-Charleston-Charlotte-Chicago-Cincinnati-Cleveland-Columbus-Dallas-Dc Metro-Denver-Detroit-Grand Rapids-Hawaii-Houston-Huntington-Indianapolis-Jackson-Jacksonville-Kansas City-Las Vegas-Little Rock-Los Angeles-Louisville-Manchester-Miami-Milwaukee-Minneapolis-Nashville-New Orleans-New York-Newark-Oklahoma City-Omaha-Orange County-Orlando-Philadelphia-Phoenix-Portland-Portland Maine-Providence-Raleigh-Richmond-Sacramento-Salt Lake City-San Diego-San Francisco-San Luis Obispo-Santa Barbara-Seattle-St Louis-Tampa-Wichita-Wilmington-Calgary-Edmonton-Montreal-Ottawa-Toronto-Vancouver-Pros By City
        </p>
        <hr>
  
        <div class="row">
          <div class="col-lg-3" style="text-align: left">
            <div class="site-footer__logo">
              <a href="index.html">
                <h1 class="screen-reader-text">Buildngz</h1>
                <img src="{% static 'images/buildngz-2-wh.png' %}" alt="Listiry">
              </a>
            </div>
  
            <p class="t-small">Buildngz makES finding commercial real estate services and products faster, easier, and customized for you.</p>
          </div><!-- .col -->
  
          <div class="col-lg-2" style="text-align: left">
            <strong>COMPANY</strong>
            <ul class="min-list site-footer__links">
              <li><a href="#">About Buildngz</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Terms & Policies</a></li>
              <li><a href="blog.html">Copyright Info</a></li>
              <li><a href="blog.html">Mobile App</a></li>
            </ul><!-- .main-navigation -->
          </div><!-- .col -->
  
          <div class="col-lg-2" style="text-align: left">
            <strong>BUSINESS SERVICES</strong>
            <ul class="min-list site-footer__links">
              <li><a href="#">For Pros</a></li>
              <li><a href="#">Management Software</a></li>
              <li><a href="#">For Brands</a></li>
              <li><a href="blog.html">Trade Program</a></li>
              <li><a href="blog.html">Button & Badges</a></li>
            </ul><!-- .main-navigation -->
          </div><!-- .col -->
  
          <div class="col-lg-2" style="text-align: left">
            <strong>GET HELP</strong>
            <ul class="min-list site-footer__links">
              <li><a href="#">Your Orders</a></li>
              <li><a href="#">Shipping & Delivery</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="blog.html">Review Pros</a></li>
              <li><a href="blog.html">Suggested Pros</a></li>
              <li><a href="blog.html">Accessibility</a></li>
              <li><a href="blog.html">Buildngz Support</a></li>
            </ul><!-- .main-navigation -->
          </div><!-- .col -->
  
          <div class="col-lg-2" style="text-align: left">
            <strong>CONNECT WITH US</strong>
            <ul class="min-list site-footer__links">
              <li><a href="#">Buildngz Blog</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="blog.html">YouTube</a></li>
              <li><a href="blog.html">RSS</a></li>
            </ul><!-- .main-navigation -->
          </div><!-- .col -->
  
  
        </div><!-- .row -->
  
        <ul class="min-list inline-list site-footer__links site-footer__social">
          <li>
            <a href="#">
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- .site-footer__primary -->
  
    <div class="site-footer__secondary">
      <div class="container">
        <div class="site-footer__secondary-wrapper">
          <p class="site-footer__copyright">&copy; 2020
            <span class="c-secondary">Buildngz</span>  All Rights Reserved.</p>
          <ul class="min-list inline-list site-footer__links site-footer__details">
            <li>
              <a href="tel:+0987654321"><strong><i class="fa fa-phone"></i> (866) BUILDNGZ</strong> </a>
            </li>
            <li>
              <a href="#">Get Free Demo</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- .site-footer__secondary -->
</footer><!-- #colophone -->
  
  