{% load static %}


  <header class="header_in clearfix">
		<div class="container">
		<div id="logo">
			<a href="{% url 'home' %}">
				<img src="{% static 'images/buildngz-logo-1.png' %}" height="40" alt="">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="{% url 'login' %}" class="btn_access">Log In</a></li>
			<li><a href="{% url 'registerVendor' %}" class="btn_access green" target="_blank">Register as Pro</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#0" class="open_close">
			<i class="icon_menu"></i><span>Menu</span>
		</a>
		<nav class="main-menu">
			<div id="header_menu">
				<a href="#0" class="open_close">
					<i class="icon_close"></i><span>Menu</span>
				</a>
				<a href="{% url 'home' %}"><img src="img/logo.svg" width="155" height="45" alt=""></a>
			</div>
			<ul>
				<li class="submenu">
					<a href="#0" class="show-submenu">GET IDEAS</a>
					<ul>
						<li><a href="{% url 'home' %}">Default</a></li>
						<li><a href="index-2.html">Video Background</a></li>
						<li><a href="index-3.html">Slider</a></li>
						<li><a href="index-4.html">GDPR Cookie Bar EU Law</a></li>
						<li><a href="index-5.html">Full Screen</a></li>
						<li><a href="user-logged-1.html">User Logged</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#0" class="show-submenu">FIND PROS</a>
					<ul>
						<li><a href="grid-listing-1.html">Grid Listing Default</a></li>
						<li><a href="grid-listing-2.html">Grid Listing Isotope Sort</a></li>
						<li><a href="grid-listing-3.html">Grid Listing Filters Left</a></li>
						<li><a href="listing-map.html">Listing Side Map</a></li>
						<li><a href="detail-page.html">Detail page 1</a></li>
						<li><a href="detail-page-2.html">Detail page 2</a></li>
						<li><a href="detail-page-3.html">Detail page 3</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#0" class="show-submenu">SHOP PRODUCTS</a>
					<ul>
						<li><a href="admin_section/index.html">Admin Dashboard</a></li>
						<li><a href="404.html">404 Error</a></li>
						<li><a href="help.html">Help and Faq</a></li>
						<li><a href="modal-login.html">Modal Login</a></li>
						<li><a href="modal-popup.html">Modal Advertise</a></li>
						<li><a href="modal-newsletter.html">Modal Newsletter</a></li>
						<li><a href="pricing-tables-1.html">Pricing Tables 1</a></li>
						<li><a href="pricing-tables-2.html">Pricing Tables 2</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li><a href="coming_soon/index.html" target="_blank">Coming Soon</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
						<li><a href="icon-pack-1.html">Icon Pack 1</a></li>
					</ul>
				</li>
				<li><a href="{% url 'post_list' %}">BLOG</a></li>
			</ul>
		</nav>
	</div>
	</header>
	<!-- /header -->
  
  
  