{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buildngz</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/style.css' %} ">
</head>

<body>
<!-- #masthead -->
<header id="masthead" class="site-header site-header--layout-2">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center site-header__container">
      <div class="site-header__logo">
        <a href="index.html">
          <h1 class="screen-reader-text">Buildngz</h1>
          <img src="{% static 'images/buildngz-logo.png'%}" alt="Listiry">
        </a>
      </div>
      <!-- .site-header__logo -->
      <div class="d-lg-flex align-items-lg-center">
        <ul class="min-list main-navigation">
          <li>
            <a href="#">GET IDEAS</a>
            <ul class="min-list">
              <li>
                <a href="listing-4.html">Architecture</a>
              </li>
              <li>
                <a href="listing-4.html">Interior Design</a>
              </li>
              <li>
                <a href="listing-4.html">Landscaping</a>
              </li>
              <li>
                <a href="listing-4.html">Kitched Design</a>
              </li>
              <li>
                <a href="listing-4.html">Software</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">SHOP BY DEPARTMENT</a>
            <ul class="min-list">
              <li>
                <a href="listing-4.html">Architecture</a>
              </li>
              <li>
                <a href="listing-4.html">Construction</a>
              </li>
              <li>
                <a href="listing-4.html">Fire Remediation</a>
              </li>
              <li>
                <a href="listing-4.html">Landscaping</a>
              </li>
              <li>
                <a href="listing-4.html">Building Services</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">FIND PROS</a>
            <ul class="min-list">
              <li><a href="listing-4.html">Architects & Building Designers</a></li>
              <li><a href="listing-4.html">Design-Build Firms</a></li>
              <li><a href="listing-4.html">General Contractors</a></li>
              <li><a href="listing-4.html">Home Builders</a></li>
              <li><a href="listing-4.html">Interior Designers</a></li>
              <li><a href="listing-4.html">Kitchen & Bath Designers</a></li>
              <li><a href="listing-4.html">Kitchen & Bath Remodelers</a></li>
              <li><a href="listing-4.html">Landscape Architects & Designers</a></li>
              <li><a href="listing-4.html">Landscape Contractors</a></li>
            </ul>
          </li>
          <li>
            <a href="blog.html">BLOG</a>
          </li>
        </ul><!-- .main-navigation -->

        <div class="user-action">
          <a href="login.html" class="sign-in">
            <i class="fa fa-user"></i>
            Sign in
          </a>
          <a href="signup.html" class="sign-in">
          <button class="button button--small button--pill button--primary d-none d-lg-inline-block">&plus; Join as a Pro</button></a>
        </div>
      </div>

      <div class="d-lg-none nav-mobile">
        <a href="#" class="nav-toggle js-nav-toggle nav-toggle--dove-gray">
          <span></span>
        </a>
        <!-- .nav-toggle -->
      </div>
      <!-- .nav-mobile -->

    </div>
    <!-- .site-header__container -->

  </div>
  <!-- .container -->
</header>
<!-- #masthead -->

<!-- .page-banner -->
<section class="page-banner page-banner--layout-3 parallax">
  <div class="container">
    <div class="page-banner__container animated zoomIn">
      <div class="page-banner__textcontent t-center">
        <h2 class="page-banner__title c-white">Get inspired. Shop products. Find pros. </h2>
        <p class="page-banner__subtitle c-white">Find the best resources in commercial real estate.</p>
      </div><!-- .page-banner__textcontent -->

      <div class="main-search-container">
        <form class="main-search main-search--layout-1 bg-white">
          <div class="main-search__group main-search__group--primary">
            <label for="main-search-name" class="c-primary">What?</label>
            <input type="text" name="name" id="main-search-name" class="form-input form-input--pill form-input--border-c-gallery" placeholder="architect, construction, roofing...">
          </div><!-- .main-search__group -->

          <div class="main-search__group main-search__group--secondary">
            <label for="main-search-location" class="c-primary">Where?</label>
            <input type="text" name="location" id="main-search-location" class="form-input form-input--pill form-input--border-c-gallery" placeholder="San Francisco">
          </div><!-- .main-search__group -->
          <div class="main-search__group main-search__group--tertiary">
            <button type="submit" class="button button--medium button--pill button--primary">
              <i class="fa fa-search"></i> Search
            </button>
          </div>
        </form>
      </div><!-- .main-search-container -->

      <!-- <div class="locations-container t-center">
        <ul class="min-list inline-list locations locations--layout-2">
          <li class="location">
            <a href="#" class="c-white"><i class="fa fa-cutlery"></i>Restaurant</a>
          </li>
          <li class="location">
            <a href="#" class="c-white"><i class="fa fa-glass"></i>Nightlife</a>
          </li>
          <li class="location">
            <a href="#" class="c-white"><i class="fa fa-film"></i>Cinema</a>
          </li>
          <li class="location">
            <a href="#" class="c-white"><i class="fa fa-wrench"></i>Local Services</a>
          </li>
        </ul>
      </div>.locations-container -->
    </div><!-- .page-banner__container -->
  </div><!-- .container -->
</section><!-- .page-banner -->

<!-- .ads -->
<section class="ads ads--layout-2 parallax">
  <div class="t-center ads__container">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" style="text-align: left">
          <h1 class="ads__title c-white">Industry Professionals, meet Buildngz Pro!</h1>
        </div><!-- .col -->

        <div class="col-lg-6" style="text-align: center">
          <button type="submit" class="button button--large button--pill button--primary">
            <i class="fa fa-sign-in"></i> Sign-up
          </button> 
          <button type="submit" class="button button--large button--pill button--primary">
            <i class="fa fa-lightbulb-o"></i> Learn More
          </button>
        </div><!-- .col -->     
      </div>
    </div>
  </div>
</section><!-- .ads -->

<!-- .Most Viewed Categories -->
<section class="dream-places page-section dream-places--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">Most Viewed Categories</h2>
    <p class="page-section__subtitle t-center c-boulder">Locate the services and professionals for your project</p>

    <div class="dream-places__wrapper">
      <div class="dream-place" style="background-image: url('{% static 'images/uploads/architecture.jpg' %}')">
        <a href="#">
          <div class="dream-place__inner">
            <h3 class="dream-place__title c-white">Architecture</h3>
          </div>
        </a>
      </div><!-- .dream-place -->

      <div class="dream-place" style="background-image: url('{% static 'images/uploads/space-plan.jpg' %}')">
        <a href="#">
          <div class="dream-place__inner">
            <h3 class="dream-place__title c-white">Space Planning</h3>
          </div>
        </a>
      </div><!-- .dream-place -->

      <div class="dream-place" style="background-image: url('{% static 'images/uploads/constr-mgmt.jpg' %}')">
        <a href="#">
          <div class="dream-place__inner">
            <h3 class="dream-place__title c-white">Construction Management</h3>
          </div>
        </a>
      </div><!-- .dream-place -->

      <div class="dream-place" style="background-image: url('{% static 'images/uploads/hvac.jpg' %}')">
        <a href="#">
          <div class="dream-place__inner">
            <h3 class="dream-place__title c-white">HVAC</h3>
          </div>
        </a>
      </div><!-- .dream-place -->

      <div class="dream-place" style="background-image: url('{% static 'images/uploads/plumbing.jpg' %}')">
        <a href="#">
          <div class="dream-place__inner">
            <h3 class="dream-place__title c-white">Plumbing</h3>
          </div>
        </a>
      </div><!-- .dream-place -->
    </div><!-- .dream-places__wrapper -->
  </div><!-- .container -->
</section><!-- .dream-places -->

<!-- .listing-list -->
<section class="listing-list page-section bg-wild-sand listing-list--layout-3">
  <div class="container">
    <h2 class="page-section__title t-center">Popular Professionals</h2>
    <p class="page-section__subtitle t-center c-boulder">Exploring licensed, verified professionals in your area</p>
    <div class="row">
      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-1.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--tertiary">Closed</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Architects, Construction</span>
                  <span class="listing__price">
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">Kaplin Architects</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  185 Market Street, San Francisco
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-2.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--secondary">Open</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Carpet Cleaning</span>
                  <span class="listing__price">
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">McNevin Cleaners</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  1533 Collier Ave, Burlingame
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-3.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--tertiary">Closed</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Janitorial</span>
                  <span class="listing__price">
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">Acme Janitorial Services</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  2311 Broadway, Oakland
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-4.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--tertiary">Closed</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Graffiti Abatement
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">Cowboy Graffiti Removal</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  543 West Chabot, South San Francisco
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-5.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--tertiary">Closed</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Coffee, Catering</span>
                  <span class="listing__price">
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">Alimo Coffee Services</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  4345 South Van Ness, San Francisco
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="single-listing-1.html">
                <img src="{% static 'images/uploads/listing-6.jpg' %}" alt="April Boutique Coffee">
                <span class="label label--tertiary">Closed</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <div class="listing__detail-left">
                <p class="listing__category t-small">
                  <span class="c-dove-gray">Asphalt, Paving</span>
                  <span class="listing__price">
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-orange"></i>
                    <i class="fa fa-star c-dusty-gray"></i>
                  </span>
                </p>
                <h3 class="listing__title">
                  <a href="single-listing-1.html">Overland Paving Pros</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  1876 Kerr Rd., Santa Clara
                </p>
              </div>

              <div class="listing__detail-right">
                <span class="listing__score t-center">7.0</span>
              </div>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->
    </div><!-- .row -->
    <div class="t-center load-more">
      <button class="button button--primary button--medium button--pill">View All Listing</button>
    </div>
  </div><!-- .container -->
</section><!-- .listing-list -->

<!-- .news -->
<section class="news page-section news--layout-3">
  <div class="container">
    <h2 class="page-section__title t-center">Tips &amp; Articles</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="post sticky">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'images/uploads/news-7.jpg' %}" alt="Sa Pa festival for next month">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content t-center">
            <h3 class="post-title">
              <a href="single.html">Parking Lot Striping 101</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Property Management</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="post">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'images/uploads/news-8.jpg' %}" alt="Italy culinary festival kicks off">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content t-center">
            <h3 class="post-title">
              <a href="single.html">Design Trends that Set Startup Offices Apart</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Space Planning, Startup</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="post">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'images/uploads/news-9.jpg' %}" alt="Best destination for travelers">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content t-center">
            <h3 class="post-title">
              <a href="single.html">Spotlight: Easyworkorder. RE Tech for the Future</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Software, Property Management</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .news -->

<!-- #footer -->
<footer id="colophone" class="site-footer">

  <div class="t-center site-footer__primary">
    <div class="container">
      <p class="t-small" style="text-align: left">
      <strong>Browse Pros by Metro</strong><br>
      Albuquerque-Atlanta-Austin-Baltimore-Birmingham-Boise-Boston-Bridgeport-Burlington-Cedar Rapids-Charleston-Charlotte-Chicago-Cincinnati-Cleveland-Columbus-Dallas-Dc Metro-Denver-Detroit-Grand Rapids-Hawaii-Houston-Huntington-Indianapolis-Jackson-Jacksonville-Kansas City-Las Vegas-Little Rock-Los Angeles-Louisville-Manchester-Miami-Milwaukee-Minneapolis-Nashville-New Orleans-New York-Newark-Oklahoma City-Omaha-Orange County-Orlando-Philadelphia-Phoenix-Portland-Portland Maine-Providence-Raleigh-Richmond-Sacramento-Salt Lake City-San Diego-San Francisco-San Luis Obispo-Santa Barbara-Seattle-St Louis-Tampa-Wichita-Wilmington-Calgary-Edmonton-Montreal-Ottawa-Toronto-Vancouver-Pros By City
      </p>
      <hr>

      <div class="row">
        <div class="col-lg-3" style="text-align: left">
          <div class="site-footer__logo">
            <a href="index.html">
              <h1 class="screen-reader-text">Buildngz</h1>
              <img src="{% static 'images/buildngz-logo-wh.png' %}" alt="Listiry">
            </a>
          </div>

          <p class="t-small">Buildngz is making finding commercial real estate services and products faster, easier, and customized for you.</p>
        </div><!-- .col -->

        <div class="col-lg-2" style="text-align: left">
        </div><!-- .col -->

        <div class="col-lg-2" style="text-align: left">
          <strong>COMPANY</strong>
          <ul class="min-list site-footer__links">
            <li><a href="#">About Buildngz</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms & Policies</a></li>
            <li><a href="blog.html">Copyright Info</a></li>
            <li><a href="blog.html">Mobile App</a></li>
          </ul><!-- .main-navigation -->
        </div><!-- .col -->

        <div class="col-lg-2" style="text-align: left">
          <strong>BUSINESS SERVICES</strong>
          <ul class="min-list site-footer__links">
            <li><a href="#">About Buildngz</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms & Policies</a></li>
            <li><a href="blog.html">Copyright Info</a></li>
            <li><a href="blog.html">Mobile App</a></li>
          </ul><!-- .main-navigation -->
        </div><!-- .col -->

        <div class="col-lg-2" style="text-align: left">
          <strong>GET HELP</strong>
          <ul class="min-list site-footer__links">
            <li><a href="#">About Buildngz</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms & Policies</a></li>
            <li><a href="blog.html">Copyright Info</a></li>
            <li><a href="blog.html">Mobile App</a></li>
          </ul><!-- .main-navigation -->
        </div><!-- .col -->


      </div><!-- .row -->

      <ul class="min-list inline-list site-footer__links site-footer__social">
        <li>
          <a href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- .site-footer__primary -->

  <div class="site-footer__secondary">
    <div class="container">
      <div class="site-footer__secondary-wrapper">
        <p class="site-footer__copyright">&copy; 2020
          <span class="c-secondary">Buildngz</span>  All Rights Reserved.</p>
        <ul class="min-list inline-list site-footer__links site-footer__details">
          <li>
            <a href="tel:+0987654321"><strong><i class="fa fa-phone"></i> (866) BUILDNGZ</strong> </a>
          </li>
          <li>
            <a href="#">Get Free Demo</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- .site-footer__secondary -->
</footer><!-- #colophone -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
  <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
  <script src="{% static 'scripts/app.js' %}"></script>

</body>
</html>
