{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="page-content">
    <div class="page-section__title t-center" font-weight="700">
      One simple solution for contractors and design pros
    </div>
    <div class="page-section__subtitle t-center">
        Attract and win the right clients, run profitable projects and deliver a standout customer experience - all in one place. 
      </div>
      
           
        <section class="pricing-table-container">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="pricing-table">
                <header class="pricing-table__header">
                  <h2 class="pricing-table__name">Core</h2>
                  <h3 class="pricing-table__price">Free</h3>
                </header>
                <div class="pricing-table__body">
                  <ul class="pricing-table__features min-list">
                    <li class="pricing-table__feature pricing-table__feature--supported">5 Listings/Week</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">1$ for first billing</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Unlimited Availability</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Featured In the Results</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Add Facebook Page To Sidebar</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Embed Video In Listing</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Embed Timekit (Booking System)</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Shema Markup</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Contact Form</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Social Networks</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Publish On Map</li>
                  </ul>
                </div>
                <footer class="pricing-table__footer t-center">
                  <button class="button button--medium button--pill button--secondary button--block">Get Now</button>
                </footer>
              </div><!-- .pricing-table -->
            </div><!-- .col -->
      
            <div class="col-md-4">
              <div class="pricing-table pricing-table--featured">
                <header class="pricing-table__header">
                  <h2 class="pricing-table__name">Select</h2>
                  <h3 class="pricing-table__price"><sup>$</sup>7.99</h3>
                  <span class="corner-ribbon">Popular</span>
                </header>
                <div class="pricing-table__body">
                  <ul class="pricing-table__features min-list">
                    <li class="pricing-table__feature pricing-table__feature--supported">5 Listings/Week</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">1$ for first billing</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Unlimited Availability</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Featured In the Results</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Add Facebook Page To Sidebar</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Embed Video In Listing</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Embed Timekit (Booking System)</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Shema Markup</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Contact Form</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Social Networks</li>
                    <li class="pricing-table__feature pricing-table__feature--not-supported">Publish On Map</li>
                  </ul>
                </div>
                <footer class="pricing-table__footer t-center">
                  <button class="button button--medium button--pill button--primary button--block">Get Now</button>
                </footer>
              </div><!-- .pricing-table -->
            </div><!-- .col -->
      
            <div class="col-md-4">
              <div class="pricing-table">
                <header class="pricing-table__header">
                  <h2 class="pricing-table__name">Plus</h2>
                  <h3 class="pricing-table__price"><sup>$</sup>39.99</h3>
                </header>
                <div class="pricing-table__body">
                  <ul class="pricing-table__features min-list">
                    <li class="pricing-table__feature pricing-table__feature--supported">5 Listings/Week</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">1$ for first billing</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Unlimited Availability</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Featured In the Results</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Add Facebook Page To Sidebar</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Embed Video In Listing</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Embed Timekit (Booking System)</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Shema Markup</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Contact Form</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Social Networks</li>
                    <li class="pricing-table__feature pricing-table__feature--supported">Publish On Map</li>
                  </ul>
                </div>
                <footer class="pricing-table__footer t-center">
                  <button class="button button--medium button--pill button--secondary button--block">Get Now</button>
                </footer>
              </div><!-- .pricing-table -->
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- .pricing-table-container -->
      </div><!-- .page-content -->    
{% endblock %}