@keyframes show-toast{
    0% {top: -100%}
    20% {top: 0px}
    80% {top: 0px}
    100% {top: -100%}
}
.show-notifications{
    position: fixed;
    top: 100%;
    right: 20px;
    /* animation-name: show-toast; */
    animation-duration: 5s;
}

/* From Codebase CSS file */
.bg-image {
    background-color: #f8f9fa;
    background-position: 0% 50%;
    background-size: cover;
  }
  
  .bg-image-top {
    background-position-y: 0%;
  }
  
  .bg-image-bottom {
    background-position-y: 100%;
  }
  
  @media (min-width: 1200px) {
    .bg-image-fixed {
      background-attachment: fixed;
    }
  }
  
.hero-static {
    min-height: 100vh;
  }

  .bg-white {
    background-color: #fff !important;
  }
 
.font-size-h1 {
    font-size: 2.571429rem;
  }
  
  .font-size-h2 {
    font-size: 2.142857rem;
  }
  
  .font-size-h3 {
    font-size: 1.857143rem;
  }
  
  .font-size-h4 {
    font-size: 1.571429rem;
  }
  
  .font-size-h5 {
    font-size: 1.285714rem;
  }
  
  .font-size-h6 {
    font-size: 1rem;
  }

  .text-white {
    color: #fff !important;
  }

  .font-w300 {
    font-weight: 300 !important;
  }
  
  .font-w400 {
    font-weight: 400 !important;
  }
  
  .font-w600 {
    font-weight: 600 !important;
  }
  
  .font-w700 {
    font-weight: 700 !important;
  }
  

  .form-material {
    position: relative;
    padding-top: 26px;
  }
  
  .form-material > label {
    position: absolute;
    top: 6px;
    left: 0;
    margin-bottom: 0;
  }
  
  .form-material.floating > label {
    font-size: 1.142857rem;
    font-weight: 400;
    cursor: text;
    z-index: 2;
    transition: all .2s ease-out;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  
  .form-material.form-material-sm.floating > label {
    font-size: 1rem;
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  
  .form-material.form-material-lg.floating > label {
    font-size: 1.285714rem;
    -webkit-transform: translateY(27px);
            transform: translateY(27px);
  }
  
  .form-material > label,
  .form-material > .form-control:focus + label,
  .form-material.floating.open > label {
    font-size: 1rem;
    font-weight: 600;
    cursor: default;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .form-material.floating > .form-control:-webkit-autofill + label {
    font-size: 1rem;
    font-weight: 600;
    cursor: default;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .form-material.floating > .form-control[disabled] + label,
  .form-material.floating > .form-control[readonly] + label,
  fieldset[disabled] .form-material.floating > label {
    cursor: not-allowed;
  }
  
  .form-material > .form-control {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0 1px 0 #d4dae3;
    transition: box-shadow .3s ease-out;
  }
  
  .form-material > .form-control ~ .input-group-append {
    box-shadow: 0 1px 0 #d4dae3;
    transition: box-shadow .3s ease-out;
  }
  
  .form-material > .form-control:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 2px 0 #97a5ba;
  }
  
  .form-material > .form-control:focus + label {
    color: #575757;
  }
  
  .form-material > .form-control:focus ~ .input-group-append {
    box-shadow: 0 2px 0 #97a5ba;
  }
  
  .form-material > select.form-control {
    border-radius: 1px;
  }
  
  .form-material .form-control[disabled],
  .form-material .form-control[readonly],
  .form-material fieldset[disabled] .form-control {
    background-color: #fff;
    border-bottom: 1px dashed #ccc;
    box-shadow: none;
  }
  
  .form-material.input-group .input-group-text {
    border: none;
    background-color: transparent;
  }
  
  .form-material.form-material-primary > .form-control:focus {
    box-shadow: 0 2px /* /* #3f9ce8 */ */;
  }
  
  .form-material.form-material-primary > .form-control:focus + label {
    color: /* /* #3f9ce8 */ */;
  }
  
  .form-material.form-material-primary > .form-control:focus ~ .input-group-append {
    color: /* /* #3f9ce8 */ */;
    box-shadow: 0 2px /* /* #3f9ce8 */ */;
  }
  
  .form-material.form-material-success > .form-control:focus {
    box-shadow: 0 2px #9ccc65;
  }
  
  .form-material.form-material-success > .form-control:focus + label {
    color: #9ccc65;
  }
  
  .form-material.form-material-success > .form-control:focus ~ .input-group-append {
    color: #9ccc65;
    box-shadow: 0 2px #9ccc65;
  }
  
  .form-material.form-material-info > .form-control:focus {
    box-shadow: 0 2px #26c6da;
  }
  
  .form-material.form-material-info > .form-control:focus + label {
    color: #26c6da;
  }
  
  .form-material.form-material-info > .form-control:focus ~ .input-group-append {
    color: #26c6da;
    box-shadow: 0 2px #26c6da;
  }
  
  .form-material.form-material-warning > .form-control:focus {
    box-shadow: 0 2px #ffca28;
  }
  
  .form-material.form-material-warning > .form-control:focus + label {
    color: #ffca28;
  }
  
  .form-material.form-material-warning > .form-control:focus ~ .input-group-append {
    color: #ffca28;
    box-shadow: 0 2px #ffca28;
  }
  
  .form-material.form-material-danger > .form-control:focus {
    box-shadow: 0 2px #ef5350;
  }
  
  .form-material.form-material-danger > .form-control:focus + label {
    color: #ef5350;
  }
  
  .form-material.form-material-danger > .form-control:focus ~ .input-group-append {
    color: #ef5350;
    box-shadow: 0 2px #ef5350;
  }
  
  .is-valid .form-material > .form-control {
    box-shadow: 0 1px 0 #9ccc65;
  }
  
  @media (min-width: 1200px) {
    #page-container.main-content-narrow > #page-header .content-header,
    #page-container.main-content-narrow > #page-header .content,
    #page-container.main-content-narrow > #main-container .content,
    #page-container.main-content-narrow > #page-footer .content {
      width: 92%;
    }
  }
  
  #page-container.main-content-boxed > #page-header .content-header,
  #page-container.main-content-boxed > #page-header .content,
  #page-container.main-content-boxed > #main-container .content,
  #page-container.main-content-boxed > #page-footer .content {
    max-width: 1200px;
  }
  
        
     
  
  
