@keyframes show-toast{
    0% {top: -100%}
    20% {top: 0px}
    80% {top: 0px}
    100% {top: -100%}
}
.show-notifications{
    position: fixed;
    top: 100%;
    right: 20px;
    /* animation-name: show-toast; */
    animation-duration: 5s;
}